<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="ap-local-base-url" content="{{ localBaseUrl }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ hostStylesheetUrl }}" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui.css" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie9.css" media="all"><![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/js/aui-all.js" type="text/javascript" data-options="sizeToParent:true;margin:false"></script>
    <script src="{{ hostScriptUrl }}" type="text/javascript"></script>
</head>

<body class="seatsurfing-body">
    <iframe src="{{ targetUrl }}" style="border:none;" width="100%" height="600px" class="ac-content"></iframe>
</body>

</html>